In [1]:
# importing lbraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
train = pd.read_csv('../Datasets/christine - binary classification/christine_train.data', sep=' ', header=None)

In [40]:
train = train.iloc[:, :-1]

In [41]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635
0,443,375,109,423,534,296,82,571,132,601,...,174,23,13,167,168,286,517,388,197,331
1,486,716,136,231,705,343,241,501,174,709,...,147,241,62,278,208,167,282,222,0,380
2,277,424,75,264,639,172,87,600,100,742,...,355,33,21,237,111,109,433,329,0,299
3,220,459,117,280,767,286,187,684,141,748,...,303,376,45,222,107,360,271,381,0,329
4,288,414,121,285,556,356,105,739,205,691,...,361,0,8,133,150,176,656,408,293,521